/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  text-align: center;
  color: white;
  background-image: url("../images/background.jpg");
}

ul.nav {
  font-family: 'Arvo', serif;
  font-size: 13px;
}

.jumbotron h1 {
  font-family: 'Arvo', serif;
  margin-top: 0px;
  margin-bottom: 50px;
}

.jumbotron p {
  margin-bottom: 30px;
  padding: 0 50px;
}
.btn-lg {
  font-size: 36px;
}

.homepage {
  text-align: center;
  margin-top: 50px;
}

.homepage h2 {
  color: #e74e3c;
  text-transform: Uppercase;
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 30px;
}

.homepage h3 {
  color: #e74e3c;
  text-transform: Uppercase;
  font-family: 'Arvo', serif;
  text-align: center;
}    

.homepage p {
  font-weight: 300;
  font-size: 21px
}

a.btn-default {
  color: #e74e3c;
}
.homepage hr {
  border-color: #e74c3c;
  width: 190px;
  margin-top: 15px;
}

.homepage img {
  margin-top: 30px;
}

#get-involved {
  background-color: #f5f5f5;
}








